<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All products</title>
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/layout/header.css" />
  <link rel="stylesheet" href="/css/components/card.css">
  <link rel="stylesheet" href="/css/components/button.css">
</head>
<body>
  <%- include('../includes/navigation.ejs') %>
    <main class="container mt-large">
      <% if(prods.length > 0) { %>
        <% for (let product of prods) { %>
        <%-  include('../includes/card.ejs', {product: product}) %>
        <% } %>
      <% } else { %>
        <h2>There are no products</h1>
      <% } %>
    </main>
</body>
</html>