.btn {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  text-decoration: none;
}

.btn-primary {
  background-color: #A91079;
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #2e0249;
  cursor: pointer;
}

.btn-secondary {
  background-color: #FFF600;
  color: #2e0249;
}

.btn-secondary:hover {
  background-color: #FDDA0D;
  color: #2e0249;
  cursor: pointer;
}

.btn-danger {
  background-color: red;
  color: #ffffff;
}

.btn-danger:hover {
  background-color: #7c0000;
  cursor: pointer;
}