.product-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin: 0 auto;
  gap: 1.5rem;
  background-color: #ffffff;
  border-radius: .8rem;
  min-width: 35%;
}

.form-control {
  display: flex;
  min-width: 25rem;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.form-control label{
  margin-bottom: .5rem;
  font-weight: bold;
  color: #2e0249;
}

.form-control__input {
  border: solid 1px;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  padding: .4rem;
}