.product {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 0.8rem;
  padding: 2rem;
}

.product__image {
  width: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.product__image img {
  display: block;
}

.product__details {
  width: 50%;
  padding-left: 2rem;
}

.product__details button {
  margin-top: 2rem;
}

.product__details__price {
  font-weight: 700;
}
